In [55]:
import pandas as pd

In [56]:
articles = pd.read_csv('../../datasets/shared_articles.csv')
articles.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [4]:
# Filter and retain only shared contents
articles = articles[articles['eventType'] == 'CONTENT SHARED']
articles.head(3)

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en

In [5]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3047 entries, 1 to 3121
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        3047 non-null   int64
 1   eventType        3047 non-null   object
 2   contentId        3047 non-null   int64
 3   authorPersonId   3047 non-null   int64
 4   authorSessionId  3047 non-null   int64
 5   authorUserAgent  669 non-null    object
 6   authorRegion     669 non-null    object
 7   authorCountry    669 non-null    object
 8   contentType      3047 non-null   object
 9   url              3047 non-null   object
 10  title            3047 non-null   object
 11  text             3047 non-null   object
 12  lang             3047 non-null   object
dtypes: int64(4), object(9)
memory usage: 333.3+ KB

In [7]:
interactions = pd.read_csv('../../datasets/users_interactions.csv')
interactions.head(5)

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

In [21]:
# show interaction types
interactions.eventType.value_counts()

VIEW               61086
LIKE                5745
BOOKMARK            2463
COMMENT CREATED     1611
FOLLOW              1407
Name: eventType, dtype: int64

In [16]:
# Let's give weight to interaction types
interaction_weight = { 'VIEW': 1, 'LIKE': 2, 'BOOKMARK': 3, 'FOLLOW': 4, 'COMMENT CREATED': 5}
interactions['eventStrength'] = interactions.eventType.apply(lambda x: interaction_weight[x])
interactions.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry,eventStrength
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN,1
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN,4
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN,1

In [32]:
# Deal with cold-start. Filter out data with few interactions

interactions.groupby(['personId', 'contentId']).size()

personId              contentId
-9223121837663643404  -8949113594875411859    1
                      -8377626164558006982    1
                      -8208801367848627943    1
                      -8187220755213888616    1
                      -7423191370472335463    8
                                             ..
 9210530975708218054   8477804012624580461    4
                       8526042588044002101    1
                       8856169137131817223    1
                       8869347744613364434    1
                       9209886322932807692    1
Length: 40710, dtype: int64

In [49]:

interactions_grp = interactions.groupby(['personId', 'contentId']).size().groupby('personId').size()
interactions_grp

personId
-9223121837663643404    43
-9212075797126931087     5
-9207251133131336884     7
-9199575329909162940    11
-9196668942822132778     7
                        ..
 9165571805999894845     5
 9187866633451383747    17
 9191849144618614467    12
 9199170757466086545    14
 9210530975708218054    63
Length: 1895, dtype: int64

In [47]:
interactions_enough = interactions_grp[interactions_grp >= 5].reset_index()[['personId']]
interactions_enough.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   personId  1140 non-null   int64
dtypes: int64(1)
memory usage: 9.0 KB

In [50]:
# Merge with main interaction to extract those selected ones with enough interaction data
interactions_selected = interactions.merge(
    interactions_enough,
    how='right',
    left_on = 'personId',
    right_on = 'personId'
)
interactions_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69868 entries, 0 to 69867
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      69868 non-null  int64
 1   eventType      69868 non-null  object
 2   contentId      69868 non-null  int64
 3   personId       69868 non-null  int64
 4   sessionId      69868 non-null  int64
 5   userAgent      54877 non-null  object
 6   userRegion     54867 non-null  object
 7   userCountry    54877 non-null  object
 8   eventStrength  69868 non-null  int64
dtypes: int64(5), object(4)
memory usage: 5.3+ MB

In [52]:
print(f"Number of interactions with 5 or more activities: {len(interactions_selected)}")
print(f"Number of interactions in the original dataset: {len(interactions)}")

Number of interactions with 5 or more activities: 69868
Number of interactions in the original dataset: 72312

In [54]:
from sklearn.model_selection import train_test_split
interactions_train, interactions_test = train_test_split(interactions_selected, test_size=0.20, random_state=0)
interactions_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55894 entries, 10353 to 68268
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      55894 non-null  int64
 1   eventType      55894 non-null  object
 2   contentId      55894 non-null  int64
 3   personId       55894 non-null  int64
 4   sessionId      55894 non-null  int64
 5   userAgent      43868 non-null  object
 6   userRegion     43860 non-null  object
 7   userCountry    43868 non-null  object
 8   eventStrength  55894 non-null  int64
dtypes: int64(5), object(4)
memory usage: 4.3+ MB